* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#clock-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-right: 8vw;
}

#time {
    font-size: 22vw;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.05em;
}

#date {
    font-size: 4vw;
    font-weight: 300;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

#weather-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 15vw;
}

#weather-icon svg {
    width: 10vw;
    height: 10vw;
    stroke: #ffffff;
    stroke-width: 1.5;
    fill: none;
    margin-bottom: 2px;
}

#weather-text {
    font-size: 5vw;
    font-weight: 400;
}